body {
  font-family: VT323;
display: flex;
flex-direction: column;
align-items: center;
background: #010101;
margin: 0;
padding: 20px;
color: #e8e3d5;
}


h1 {
  color: #a9ddd3;
  font-size: 3rem;
  animation: float 3s ease-in-out infinite, glow 4s linear infinite;
}

/* Animasi naik turun 
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

/* Animasi warna berpendar
@keyframes glow {
  0% { text-shadow: 0 0 5px #a9ddd3, 0 0 10px #a9ddd3; }
  20% { text-shadow: 0 0 10px #000000, 0 0 30px #a9ddd3; }
  100% { text-shadow: 0 0 5px #a9ddd3, 0 0 10px #a9ddd3; }
}
 */

h1 {
  font-size: 90px;
  margin-bottom: 5px;
  color: #a9ddd3;
}

h3 {
  margin-top: -10px;
  color: #e8e3d5;
}

p {
  font-size: 28px;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: #a9ddd3;
}

span {
  margin-top: 10px;
  font-size: 20px;
  display: block;
  color: #a9ddd3;
}

li {
  color: #e8e3d5;
  font-size: 24px;
  text-align:left ;
}

.id-form {
  margin: 20px 0;
  background: #111;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}
.id-form input {
  padding: 6px 10px;
  font-size: 16px;
  margin: 0 8px;
}
.id-form button {
  padding: 6px 12px;
  background: #a9ddd3;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

 .rareitem {
   align-items: center;
   width: 600px;
   height: 300px;
 }

.character-wrapper { margin: 20px 0; }
#character {
  width: 400px; height: 400px;
  border: 4px solid #a9ddd3; border-radius: 16px;
  background: #fff; position: relative; overflow: hidden;
}
.layer {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: contain; pointer-events: none;
}

.actions { display: flex; justify-content: center; gap: 15px; margin: 20px 0; }
.action-btn {
  width: 50px; height: 40px;
  padding: 10px 16px; border: none; border-radius: 8px;
  background: #a9ddd3; color: #010101; cursor: pointer;
  transition: 0.3s; font-size: 18px;
}
.action-btn:hover { background: #e8e3d5; }
.button:active { background: #a9ddd3; }

.menu {
  background: #111; padding: 10px 15px;
  border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.4);
  display: flex; gap: 10px; flex-wrap: wrap; justify-content: center;
  margin-bottom: 25px;
}
.menu button {
  width: 60px; height: 60px; border-radius: 50%;
  border: 2px solid #a9ddd3; background: #fff;
  cursor: pointer; padding: 5px;
  display: flex; align-items: center; justify-content: center;
  transition: 0.3s;
}
.menu button:hover { background:#a9ddd3; border-color: #e8e3d5; transform: scale(1.1); }
.menu button img { max-width: 80%; max-height: 80%; object-fit: contain; }
.menu button.active {
  background: #a9ddd3;
  border-color: #e8e3d5   ;
  transform: scale(1.05);
}

.options {
  display: none; gap: 10px; flex-wrap: wrap;
  justify-content: center; margin: 20px 0;
}
.options.active { display: flex; }
.options img {
  width: 60px; height: 60px; object-fit: contain;
  cursor: pointer; border: 2px solid transparent;
  border-radius: 8px; background: #eee; transition: 0.3s;
}
.options img:hover { border-color: #a9ddd3; }
.options img.selected { border-color: #a9ddd3; background: #fff3f3; }

/* Modal default h */
.modal {
  display: none; /* */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.6);
}

/* Isi Modal */
.modal-content {
  background: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 10px;
  min-width: 310px;
  max-width: 610px;
  text-align: center;
  position: relative;
}
